<ion-header>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <img src="../../../assets/icon/arsenicum-logo-black.png"/>

  <div class="title">
    <!-- <h4>Bem Vindo</h4> -->
  </div>

  <div class="ion-margin-top">
    <ion-button (click)="login()" expand="block" fill="solid" class="ion-margin-top botao main-button">Acessar</ion-button>
    <ion-button (click)="singin()" expand="block" fill="clear" color="white" class="ion-margin-top botao">Registrar-se</ion-button>
  </div>

</ion-content>
