ion-content {

    --color: white;

    --background: #FFFFFF;

    img {
        width: 70%;
        margin: 30% 0 30% 0;
    }

    .title {
        margin-bottom: 40px;
    }

    .botao {
        height: 50px;
        text-transform: initial;
    }

}