ion-list {
    ion-row {
        ion-col {
            b {
                font-weight: bold;
                font-size: 14px;
            }
            ion-item {
                ion-label {
                    p {
                        margin-bottom: 16px;
                        color: rgb(139, 138, 138);
                    }
                    h1 {
                        font-family: "Poppins-Medium";
                        font-weight: bold;
                        font-size: 26px;
                    }
                    ion-icon {
                        margin-top: 10px;
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

.area-receita-despesa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.09);
    border-radius: 20px;
    height: 30%;
    p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    h1 {
        font-weight: bold;
        font-size: 13px;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    b {
        margin: 0 0 0 0;
        font-size: 15px;
        color: #656565;
    }
    p {
        margin: 0 16px 0 0;
        font-size: 13px;
        color: rgb(139, 138, 138);
    }
}

.area-demonstrativo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    p {
        font-size: 14px;
    }
    b {
        font-size: 18px;
        margin-left: 14%;
    }
    .area-left {
        margin-left: 10px;
        width: 46%;
        height: 100px;
        background: linear-gradient(50deg, rgb(104, 97, 230) 0%, rgb(82, 82, 223) 46%, rgba(0, 212, 255, 1) 100%);
        border-radius: 10px;
        padding: 6px;
    }
    .area-right {
        margin-right: 10px;
        width: 46%;
        height: 100px;
        background: linear-gradient(50deg, rgb(235, 78, 112) 0%, rgb(161, 40, 40) 46%, rgb(212, 15, 74) 100%);
        border-radius: 10px;
        padding: 6px;
    }
}

.area-movimentacao-card {
    margin-bottom: 20px;
}

.area-cartoes {
    margin-bottom: 50px;

    .cartao-slide {
        .card-container {
            //background: linear-gradient(45deg, blueviolet, deeppink);
            //background: linear-gradient(45deg, rgb(43, 92, 226), rgb(20, 200, 255));
            border-radius: 6px;
            color: #ffffff;
            font-size: 15px;
            padding: 10px;
            .image-card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 10px;
                height: 50px;
                ion-icon {
                    height: 40px;
                    width: 40px;
                }
            }
            .card-number-box {
                padding: 14px 0 20px;
                font-size: 16px;
                font-weight: bold;
            }
            .flexbox {
                display: flex;
            }
            .box:nth-child(1) {
                margin-right: auto;
            }
        }
    }
}

.area-despesas-fixas {
    .card-container {
        height: 90px;
        // background: linear-gradient(40deg, rgb(212, 210, 53) 0%, rgb(165, 142, 12) 46%, rgb(236, 222, 22) 100%);
        // background: linear-gradient(40deg, rgb(199, 53, 212) 0%, rgb(165, 12, 165) 46%, rgb(218, 22, 236) 100%);
        border-radius: 10px;
        color: #FFFFFF;
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
        max-width: 260px;
        .card-favorecido {
            margin-top: 14px;
            font-size: 16px;
            font-weight: 700;
        }
        .card-valor-despesa {
            margin-top: 10px;
        }
        .card-data-vencimento {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            font-weight: 700;
            margin-left: 18px;
            margin-right: 18px;
        }
    }
}

.area-plano-aquisicao {
    
    margin-bottom: 100px;

    .produto-valor {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .barra-progresso {
        text-align: center;
        ion-progress-bar {
            margin-bottom: 20px;
            justify-content: center;
            width: 90%;
            margin-left: 5%;
            border-radius: 20px;
        }
    }

    p:nth-last-child(1) {
        font-size: 12px;
        font-weight: bold;
    }

    p:nth-last-child(2) {
        color: #888888;
        font-weight: 700;
        font-size: 12px;
    }

}