<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button text="" defaultHref="home"></ion-back-button>
      </ion-button>
    </ion-buttons>

    <h6 class="ion-text-center">Cadastrar Despesa</h6>

  </ion-toolbar>
</ion-header>

<ion-content>

  <form>

    <ion-card>

      <div>
        <ion-item>
          <ion-label position="floating">Favorecido</ion-label>
          <ion-select>
            <ion-select-option *ngFor="let item of pessoaList">{{item.nome}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-text color="danger" *ngIf="false">Campo Obrigatório</ion-text>
      </div>

      <div>
        <ion-item>
          <ion-label position="floating">Data da Aquisição</ion-label>
          <ion-input type="text" required="true"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="false">Campo Obrigatório</ion-text>
      </div>

      <div>
        <ion-item>
          <ion-label position="floating">Valor da Despesa</ion-label>
          <ion-input type="text" required="true"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="false">Campo Obrigatório</ion-text>
      </div>

      <div>
        <ion-item>
          <ion-label position="floating">Forma de Pagamento</ion-label>
          <ion-select>
            <ion-select-option *ngFor="let item of pessoaList">{{item.nome}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-text color="danger" *ngIf="false">Campo Obrigatório</ion-text>
      </div>

    </ion-card>

    <ion-button expand="block">Cadastrar</ion-button>

  </form>

</ion-content>
