<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title>Despesas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" style="margin-top: 40px;">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <ion-row>
            <ion-col size="2">
              <ion-icon name="bag-outline" style="margin-top: 10px;"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-label>
                <p>Pendentes</p>
              </ion-label>
              <ion-label>
                <b style="color: red; font-size: 17px;">R$ 2.897,09</b>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col size="2">
              <ion-icon name="card-outline" style="margin-top: 10px;"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-label>
                <p>Pagas</p>
              </ion-label>
              <ion-label>
                <b style="color: blue; font-size: 17px;">R$ 00,00</b>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <div>
  
    <p style="margin-left: 4%;">Despesas Fixas</p>
  
    <ion-card>
      <ion-row>
        <ion-col size="1">
          <ion-icon name="barcode-outline" style="margin-top: 10px;"></ion-icon>
        </ion-col>
        <ion-col size="7">
          <ion-label>
            <b>Brava Internet</b>
          </ion-label>
          <ion-label>
            <p style="font-size: 12px;">Pagamentos | Carteira</p>
          </ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label>
            <p style="font-size: 13px; margin-top: 16%; font-weight: bold;">R$ 118,00</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card>
      <ion-row>
        <ion-col size="1">
          <ion-icon name="barcode-outline" style="margin-top: 10px;"></ion-icon>
        </ion-col>
        <ion-col size="7">
          <ion-label>
            <b>Sinagoga Keter Torah</b>
          </ion-label>
          <ion-label>
            <p style="font-size: 12px;">Pagamentos | Carteira</p>
          </ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label>
            <p style="font-size: 13px; margin-top: 8px; font-weight: bold;">R$ 5.818,00</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card>
  
    <ion-card>
      <ion-row>
        <ion-col size="1">
          <ion-icon name="barcode-outline" style="margin-top: 10px;"></ion-icon>
        </ion-col>
        <ion-col size="7">
          <ion-label>
            <b>Banco do Brasil</b>
          </ion-label>
          <ion-label>
            <p style="font-size: 12px;">Pagamentos | Carteira</p>
          </ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label>
            <p style="font-size: 13px; margin-top: 8px; font-weight: bold;">R$ 1.918,00</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

</ion-content>
