@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: "Gilroy-Light";
    src: url("./assets/font/Gilroy/Gilroy-Light.otf");
}

@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("./assets/font/Gilroy/Gilroy-ExtraBold.otf");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("./assets/font/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("./assets/font/Poppins/Poppins-Regular.ttf");
}

* {
    font-family: "Poppins-Regular";
}

.login-modal .modal-wrapper {
    height: 68%;
    position: sticky;
    display: block;
    top: 60%;
    border-radius: 20px 20px 0 0;
}

ion-button {
    width: 90%;
    margin-left: 20px;
}

.main-button {
    margin-top: 30px;
    margin-left: 12px;
    --background: linear-gradient(90deg, rgb(73, 128, 209) 0%, rgba(83, 161, 233, 0.719)) 100%;
    text-transform: initial;
    --border-radius: 16px;
    margin-bottom: 0.5rem;
    height: 66px;
    width: 94%;
}