ion-label {
  font-size: 10px;
  font-weight: bold;
}

ion-fab {
  margin-bottom: 22px;
  ion-fab-button {
    background-position: top;
    --background: linear-gradient(30deg, rgb(35, 28, 167) 0%, rgb(82, 82, 223) 46%, rgba(0,212,255,1) 100%);
  }
  ion-fab-button:hover {
    --background: linear-gradient(50deg, rgb(35, 28, 167) 0%, rgb(82, 82, 223) 46%, rgba(0,212,255,1) 100%);
  }
}