<ion-tabs>

  <ion-tab-bar>

    <ion-tab-button tab="principal" color="secondary">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Principal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movimentacao" color="secondary">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Movimentação</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pessoa" color="secondary">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Cadastros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracao" color="secondary">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      <ion-label>Configuração</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

<ion-fab horizontal="center" vertical="bottom">
  <ion-fab-button>
    <ion-icon md="add" ios="chevron-up-circle-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light">
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-fab-button>
    <ion-label>Despesa</ion-label>
    <ion-fab-button color="light">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
    <ion-label>Receita</ion-label>
    <ion-fab-button color="light">
      <ion-icon name="swap-vertical-outline"></ion-icon>
    </ion-fab-button>
    <ion-label>Transferencia</ion-label>
  </ion-fab-list>
</ion-fab>